html {
  /* Thêm thuộc tính scroll-snap-type cho container 
  --> Để khi container được cuộn, nó sẽ tự động snap các phần tử con*/
  scroll-snap-type: y mandatory;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app-videos {
  position: relative;
  height: 700px;
  border-radius: 20px;
  /*Khi chiều cao của box không đủ chứa text, thì text bị tràn sẽ được 
  DẤU ĐI và xuất hiện thanh scroll, khi cuộn sẽ hiển thị text.*/
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app-videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app-videos {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}